spring:
  application:
    name: contact-management
  jpa:
    open-in-view: false
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy

server:
  port: 8080

logging:
  level:
    root: INFO
    com.example.contact: DEBUG
